/*! @tailwind */
@tailwind base;

        .btn {
            @apply inline-flex items-center justify-center text-xs leading-4 uppercase font-bold
        }
        .btn-circle {
            @apply rounded-full h-8 w-8 p-0 bg-transparent
        }
        .react-switch {
            -webkit-transition:opacity 0.25s;
            -moz-transition:opacity 0.25s;
            transition:opacity 0.25s;
            touch-action:none;
            -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;user-select:none
        }

        .react-switch-bg{
            border-radius:10px;
            -webkit-transition:background 0.25s;
            -moz-transition:background 0.25s;
            transition:background 0.25s
        }

        .react-switch-handle{
            transform:translateX(0px);
            outline:0;
            box-shadow:0px 1px 5px rgba(0, 0, 0, 0.2);
            -webkit-transition:background-color 0.25s, transform 0.25s, box-shadow 0.15s;
            -moz-transition:background-color 0.25s, transform 0.25s, box-shadow 0.15s;
            transition:background-color 0.25s, transform 0.25s, box-shadow 0.15s
        }

        .input-toggle-sidebar{
            clip:rect(0 0 0 0);
            height:1px;
            margin:-1px;
            width:1px
        }

        .btn-raised {
            --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
            box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
        }

        .left-sidebar-item.active, .left-sidebar-item:hover {
            color: #3b82f6;
        }

        /*COMPONENTS*/
        /*Badges*/
        .badge-primary {
            @apply uppercase font-bold text-white bg-blue-500 hover:bg-blue-600 cursor-pointer text-xs inline-flex text-center transition duration-200
        }
        .badge-primary-outline {
            @apply uppercase font-bold text-white border border-blue-500 border-current bg-transparent hover:bg-blue-600 cursor-pointer text-blue-500 hover:text-white inline-flex text-center transition duration-200
        }
        .badge-alternative {
            @apply uppercase font-medium text-blue-500 border-current bg-blue-300 cursor-pointer text-blue-500 hover:text-white inline-flex text-center transition duration-200
        }

        /*Buttons*/
        .btn-primary {
            @apply uppercase font-bold text-white bg-blue-500 hover:bg-blue-600 cursor-pointer text-xs inline-flex text-center transition duration-200
        }
        .btn-primary-outline {
            @apply uppercase font-bold text-blue-500 border border-blue-500 border-current bg-transparent hover:border-blue-700 cursor-pointer hover:text-blue-700 inline-flex text-center transition duration-200
        }
        .btn-raised {
            @apply uppercase shadow font-medium text-blue-500 border-current bg-transparent hover:bg-blue-100 cursor-pointer text-blue-500 inline-flex text-center transition duration-200
        }
        .btn-flat {
            @apply uppercase font-medium text-blue-500 border-current hover:bg-blue-100 cursor-pointer text-blue-500 inline-flex text-center transition duration-200
        }

        .btn-lg {
        @apply py-3 px-4 uppercase font-bold text-white bg-blue-500 hover:bg-blue-600 cursor-pointer text-xs inline-flex text-center transition duration-200
        }
        .btn-sm {
        @apply uppercase font-bold text-white bg-blue-500 hover:bg-blue-600 cursor-pointer text-xs inline-flex text-center transition duration-200
        }


@tailwind components;
@tailwind utilities;
